.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0.25;
    height: 100vh;
    background-color: #2f3135;

}
.sidebar-channels{
    height: 68%;
}
.logo-sidebar{
    display: flex;
    height: 50px;
}
.sidebar-top{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px;
     background-color: #2f3135;
     color: white;
     border-bottom: 3px solid #26282c;
     height: 10%;
}
.sidebar-addChannel{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 350px;
}
.sidebar-addChannel:hover {
    color: white;
}
.sidebar-channelsHeader{
    display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
     background-color: #2f3135;
     color: white;
}
.sidebar-header {
    display: flex;
    align-items: center;
}

.sidebar-profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    background-color: #2f3135;
    padding: 10px;
    border-top: 1px solid gray;
    height: 10%;
}
.sidebar-profileInfo{
    flex: 1;
    padding: 10px;
}
.sidebar-profileInfo >h3{
    color: white;
}
.logout{
    width: 30px;
    height: 20px;
}
.button-exit{
    background: none;
    border: none;
}