.sidebarChannel:hover > h4 {
    color:white;
    background-color: #40464b;
}
.sidebarChannel > h4 {
    height: 20px;
    display: flex;
    padding-left: 15px;
    align-items: center;
    background-color: #2f3135;
    color: white;
    cursor: pointer;
}

.sidebarChannel-img{
    width: 20px;
    padding: 8px;
    height: 20px;
}
.sidebarChannel{
    padding: 4px;
}