.sidebarChannel:hover {
    color:white;
    background-color: #40464b;
    
}
.sidebarChannel > h4 {
    height: 20px;
    display: flex;
    padding-left: 15px;
    align-items: center;
    color: white;
    cursor: pointer;
}

.sidebarChannel-img{
    width: 20px;
    padding: 8px;
    height: 20px;
}
.sidebarChannel{
    padding: 4px;
}
.sidebarChannel{
    display: flex;
    justify-content: space-between;
}
.siderbarChannel-button{
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}
.sidebarChannel:hover > button{
    border: none;
    background: none;
    cursor: pointer;
    display: inline;
}